<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact us reply</title>
    </head>
    <body
        style="font-family: Arial, sans-serif; max-width: 600px; margin: auto; padding: 20px; background-color: #f4f4f4; color: #333;">

        <div style="background-color: #fff; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <div style="text-align: center;">
                <img src="http://localhost:8080/logo.png" alt="Logo" style="max-width: 150px;">
            </div>
            <h1 style="margin-bottom: 20px; color: #333; text-align: center;">Contact us</h1>
            <p>Hello {{name}},</p>
            <p>{{reply}}</p>
            <p>Thank you for contacting to alineahealth</p>
            <hr/>
            <h3>Information</b></h3>
            <p><b>Name:</b> {{name}}</p>
            <p><b>Email:</b> {{email}}</p>
            <p><b>Phone no:</b> {{phoneNo}}</p>
            <p><b>Message:</b> {{question}}</p>
            <hr/>
            <p style="text-align: center;">If you have any further questions reply to this email or contact us at <a href="mailto:srushti.shah@netpairinfotech.com">srushti.shah@netpairinfotech.com</a></p>
        </div>
    </body>
</html>