<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .text-danger strong {
                color: #9f181c;
            }
            .receipt-main {
                background: #ffffff none repeat scroll 0 0;
                /* border-bottom: 12px solid #333333;
                border-top: 12px solid #9f181c; */
                margin-top: 50px;
                margin-bottom: 50px;
                padding: 40px 30px !important;
                position: relative;
                box-shadow: 0 1px 21px #acacac;
                color: #333333;
                font-family: open sans;
            }
            .receipt-main p {
                color: #333333;
                font-family: open sans;
                line-height: 1.42857;
            }
            .receipt-footer h1 {
                font-size: 15px;
                font-weight: 400 !important;
                margin: 0 !important;
            }
            .receipt-main::after {
                /* background: #414143 none repeat scroll 0 0; */
                content: "";
                height: 5px;
                left: 0;
                position: absolute;
                right: 0;
                top: -13px;
            }
            .receipt-main thead {
                background: #414143 none repeat scroll 0 0;
            }
            .receipt-main thead th {
                color:#fff;
            }
            .receipt-right h5 {
                font-size: 16px;
                font-weight: bold;
                margin: 0 0 7px 0;
            }
            .receipt-right p {
                font-size: 12px;
                margin: 0px;
            }
            .receipt-right p i {
                text-align: center;
                width: 18px;
            }
            .receipt-main td {
                padding: 9px 20px !important;
            }
            .receipt-main th {
                padding: 13px 20px !important;
            }
            .receipt-main td {
                font-size: 13px;
                font-weight: initial !important;
            }
            .receipt-main td p:last-child {
                margin: 0;
                padding: 0;
            }	
            .receipt-main td h2 {
                font-size: 20px;
                font-weight: 900;
                margin: 0;
                text-transform: uppercase;
            }
            .receipt-header-mid .receipt-left h1 {
                font-weight: 100;
                margin: 34px 0 0;
                text-align: right;
                text-transform: uppercase;
            }
            .receipt-header-mid {
                margin: 24px 0;
                overflow: hidden;
            }
            
            #container {
                background-color: #dcdcdc;
            }
        </style>
    </head>
    <body>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>


        <div class="container">
            <div class="row">
                <div class="receipt-main">
                    <div class="row">
                        <div class="receipt-header">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="receipt-left">
                                    <img class="img-responsive" alt="iamgurdeeposahan" src="http://localhost:8080/logo.png" style="width: 71px; border-radius: 43px;">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                <div class="receipt-right">
                                    <h4>Invoice :#{{invoiceNumber}}</h4>
                                    <h5>Drive any cars.</h5>
                                    <p>(608) 403-4755 <i class="fa fa-phone"></i></p>
                                    <p>support@alineahealth.com <i class="fa fa-envelope-o"></i></p>
                                    <p>2345 Ala Wai Blvd #2614 Honolulu, Hawaii(HI), 96815 <i class="fa fa-location-arrow"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="receipt-header receipt-header-mid">
                            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                                <div class="receipt-right">
                                    <h5>{{name}}</h5>
                                    <p><b>Mobile :</b> {{phoneNumber}}</p>
                                    <p><b>Email :</b> {{email}}</p>
                                    <p><b>Address :</b> {{address}}</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="receipt-left">
                                    {{!-- <h1>Receipt</h1> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-md-9">Payment for {{vehicleDetails}}</td>
                                    <td class="col-md-3"><i class="fa fa-inr"></i> {{amount}}/-</td>
                                </tr>
                                <tr>
                                    <td class="text-right">
                                    <p>
                                        <strong>Amount: </strong>
                                    </p>
                                    <p>
                                        <strong>Agent Fees: </strong>
                                    </p>
                                    <p>
                                        <strong>Net Amount: </strong>
                                    </p>
                                    </td>
                                    <td>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> {{amount}}/-</strong>
                                    </p>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> {{agentFees}}/-</strong>
                                    </p>
                                    <p>
                                        <strong><i class="fa fa-inr"></i> {{totalAmount}}/-</strong>
                                    </p>
                                    </td>
                                </tr>
                                <tr>
                                
                                    <td class="text-right"><h2><strong>Total: </strong></h2></td>
                                    <td class="text-left text-danger"><h2><strong><i class="fa fa-inr"></i> {{totalAmount}}/-</strong></h2></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row">
                        <div class="receipt-header receipt-header-mid receipt-footer">
                            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
                                <div class="receipt-right">
                                    <p><b>Date :</b> {{date}}</p>
                                    <h5 style="color: rgb(140, 140, 140);">Thank you for your business!</h5>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="receipt-left">
                                    <h1>Signature</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </div>
    </body>
</html>